.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.title {
  font-size: 72px; /* Very large font size */
  font-family: 'Arial', sans-serif; /* Font family */
  color: #333; /* Dark grey color */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1); /* Subtle text shadow for depth */
  margin: 0; /* Removes default margin */
}
